.Card-Container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.Mobile_images{
    height: 150px;
}

@media only screen and (max-width:300) {
    .Mobile_images{
        height: 150px;
        width: 30%;
    }
}