html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.add-color {
  display: flex;
  gap: 40px;
}

.movie-card {
  width: 350px;
  margin-top: 3rem;
}

.movie-poster {
  width: 350px;
  height: 450px;
  object-fit: cover;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.movie-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-summary {
  margin-top: 0;
  text-align: justify;
}

.movie-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie-button {
  background-color: red;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
}

App.css */

 .App {
  text-align:justify;
  height: 100%;
} 

 nav {
  background-color:pink;
  padding: 1px;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 1em 50px;
}

nav a {
  color: rgb(92, 12, 12);
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}  

.add-movie-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width:50%;
  height:70%;
  margin-top: 30px;
}